
@import url('https://fonts.googleapis.com/css2?family=Mouse+Memoirs&family=Open+Sans:ital,wght@0,300;1,300&family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300;1,700&display=swap');
body {
    font-family: 'Open Sans', sans-serif;
    
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    position: relative;
    
}

/* Category Section */

.mainbody {
    display: flex;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    
}

.category{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: stretch;
    margin-bottom: 2px;
}

.sidebar {
    padding-left: 12px;
    margin-left: 20px;
    justify-content: center;
    align-items: stretch;
    cursor: pointer;
    flex-basis: auto;
    height: 100vh;
    width: calc(100vw - 990px);
    background-color:white;
    border-right: 1px solid lightgrey;
    top: 0px;
    overflow-y: hidden;
    position: sticky;
    
}

.categorybird  {
    display: flex;
    align-items: center;
    flex-direction: row;
    font-size: 20px;
    font-weight: 500;
    padding: 12px;
}
.active {
    font-weight: 900;
}
.active i{
    color: black;
}

.categorybird >i {
    font-size: 25px;
    margin-right: 20px;
}

.category :hover {
    background-color:lightgray;
    border-radius: 9999px;
}

 .logo >img{
    display: flex;
    height: 25px;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-top: 15px;
    margin-left: 10px;
    margin-bottom: 15px;
    margin-right: 0;
}
 
/* TWEET BUTTON */
button {
    border-radius: 9999px;
    padding-left: 32px;
    padding-right: 32px;
    min-width:  250px;
    min-height: 52px;
    border: none;
    background-color:rgb(29 155 240);
    cursor: pointer;
    margin-bottom: 4px;
    margin-top: 4px;
}
.btn-blue {
    font-size: 19px;
    font-weight: 700;
    color: white;
}

.tweet-button {
    padding-bottom: 70px;
}
/* ACCOUNT PROFILE */
.account-details {
    margin-top: 14px;
    margin-bottom: 14px;
    padding: 12px;
    cursor: pointer;
    font-size: 20px;
    font-weight: 400;
}

.profile >i {
    font-size: 25px;
    margin-right: 20px;

}
.profile {
    display: flex;
    font-size: 20px;
    font-weight: 400;
}

.account-details :hover{
    background-color:lightgray;
    border-radius: 9999px;
}

/* TimeLine */
.main-container {
    width: 660px;
    height:100vh;
    background-color:white;
    flex-direction: row;
    
    
    

}
.timeline {
    height: 100vh;
    cursor: pointer;
    padding-left: 16px;
    padding-right: 16px;
    
    
}

.tweet-feed {
    display: flex;
    justify-content: space-between;
    padding-top: 5px;
    padding-bottom: 15px;
    position: sticky;
    top: 0;
    background-color: white;
    
}

h2 {
    font-size: 20px;
    padding-top: 2px;
    padding-bottom: 2px;
    font-weight: 700;
    
}

.star >i {
    font-size: 22px;
    padding-top: 2px;
    padding-bottom: 2px;
   
}

.star :hover {
    background-color: lightgray;
    border-radius: 9999px;
    padding-left: 1px;
    padding-right: 1px;

}

.translateKey {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 4px;
    padding-bottom: 4px;
   
}
.acc-search {
    display: flex;
    align-items: center;
   
}
input {
    border:none;
    border: 4px;
    font-size: 20px;
    font-weight: 400;
    padding-top: 2px;
    padding-bottom: 2px;
    cursor: text;
    outline: none;
    line-height: 24px;
    overflow: hidden
    
}

.profileKey >i {
    font-size: 40px;
    margin-top: 4px;
    padding-right: 12px;
}

.options {
    padding-left: 52px;
}
.toolbar {
    display: flex;
    align-items: center;
    justify-content:space-between;
    flex-direction: row;
    margin-right: 2px;
    margin-left: 2px;
    color:rgb(29 155 240);
    padding-bottom: 10px;
   
}


.t-icons >i {
    font-size: 20px;
    font-weight: 500;
    padding: 5px;
    margin-bottom: 10px;
}

.twit-button > button {
    min-height: 32px;
    min-width: 32px;
}

.small-btn {
    font-size: 15px;
    font-weight: 700;
    color: white;
}

.border {
    border-bottom: 1px solid lightgrey;
    
}
/* POSTS */

.posts >img {
    z-index: 1;
    height: 350px;
    width: 550px;
    position: relative;
    border-radius: 20px;
    flex-wrap: pre-wrap;
    
}

.tweets {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 10px;
    padding-top: 10px;
}
.personal-acc {
    display: flex;
    justify-content: center;
}

.diff-acc >i {
    font-size: 20px;
    padding-right: 12px;
}
.name {
    font-size: 15px;
    font-weight: 700;
}
.tick >i {
    font-size: 15px;
    font-weight: 400;
    margin-left: 2px;
    height: 1.25em;
    color: rgb(29 155 240);
}
.grey-area {
    color:gray;
    font-weight: 700;
    font-size: 15px;
}
.more >i {
    color:lightgrey;
    font-weight: 700;
    font-size: 20px
}
.footer-icons {
    display: flex;
    justify-content: space-between;
    font-size: 13px;
    font-weight: 400;
    color: grey;
    padding-bottom: 10px;
}
.foot :hover{
    background-color: lightgrey;
    border-radius: 9999px;
}
.foot >i {
    font-size: 20px;
}
/* TRENDS SEARCHBAR */
.trends{
    justify-content: center;
    align-items: center;
    width:360px;
    padding: 25px;
    padding-left: 10px; 
    position: relative;
    
    
}
.searchbar {
    display: flex;
    padding-top: 10px;
    padding-left: 20px;
    margin-bottom: 12px;
    
}
.search{
    display: flex;
    border-radius: 1000px;
    border: 1px solid #eff3f4;
    background-color: #eff3f4;
    width: 300px;

}


.search >button {
    padding: 5px;
    padding-left: 12px;
    background-color: #eff3f4;
    min-width:  0;
    min-height: 0;
    border: none;
}
.search >input {
    background-color:  #eff3f4;
    font-size: 15px;
    font-weight: 400;
    padding: 12px;
    
}
.s-icon >i {
    color:rgb(83 100 113);
}

.location {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
p {
    font-size: 13px;
    font-weight: 400;
    color: rgb(83 100 113);
}
.trendy >i {
    font-size: 20px;
    font-weight: 400;
    color: rgb(83 100 113);
}
h2 {
    font-size: 25px;
    font-weight: 800;
    color: black;
}
h3 {
    font-size: 15px;
    font-weight: 700;
    color: black;
}
.amot {
    font-size: 13px;
    font-weight: 400;
    color:grey;
}
.greyout{
    border: 1px solid #eff3f4;
    background-color: #eff3f4;
    border-radius: 20px;

}
.whitespace{
    padding-bottom: 100px;
    padding-left: 20px;
    position: relative;
}
.wordstogether :hover {
    background-color:lightgrey;
    border-radius:10px;
}
.trends-for-me {
    cursor: pointer;
    padding-left: 10px;
}

/* footer */
.categories-footer {
    font-size: 11px;
    font-weight: 500;
    cursor: pointer;
    color :rgb(83, 100, 113);
    position: relative;
    padding-left: 30px;
    
}
.footer-section span {
    padding-right: 12px;
    padding: 10px;
}
.bodyborder{
    border-left: 1px solid lightgrey;
}










