
@import url('https://fonts.googleapis.com/css2?family=Mouse+Memoirs&family=Open+Sans:ital,wght@0,300;1,300&family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300;1,700&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
    height: 100vh;
    width:100vw;
    overflow-x: hidden;
    padding: 0 10px;
}

*{
    margin: 0;
    padding: 0 ;
    box-sizing: border-box;
    position: relative;
    
}
/* SIDEBAR */
.sidebar {
    width: 480px;
    cursor: pointer;
    border-right: 1px solid lightgrey;
    position: sticky;
    top: 0;
}

.active {
    font-weight: 900;
}
.active i{
    color: black;
}
.p-2 {
    margin-bottom: 10px;
}
.fs-4 >i {
    margin-right: 10px;
}
.fullhover :hover {
    background-color: lightgrey;
    border-radius: 30px;
    
}
 
/* TWEET BUTTON */
.sidebutton button {
        width: 90%;
        height: 10%;
}
.spacing {
    padding-top: 120px;

}
.spacing :hover {
    background-color: lightgrey;
    border-radius: 30px;
}
    



/* SIDEBAR ENDS */


/* TIMELINE STARTS*/
/* NAVBAR */
.main-container {
    border-right: 1px solid lightgrey;
}
.stickysituation {
    cursor: pointer;
    position: sticky;
    top: 0;
    z-index: 100;
    opacity:90%;
    background-color: white;

}
.star :hover {
    background-color: lightgray;
    border-radius: 30px;
   

}

.work {
    cursor: pointer;
}
.work :hover{
background-color: aliceblue;
border-radius: 30px;
}
/* NAVBAR */



/* POSTS */

.picture >img {
    border: 1px solid lightgrey;
    border-radius: 30px;
}

.footer {
    cursor: pointer;
}
.one :hover{
    color:  rgb(145, 221, 221);
    background-color: rgb(242, 247, 247);
    border-radius: 30px;
}

.two :hover{
    color:  rgb(160, 221, 145);
    background-color: rgb(228, 245, 224);
    border-radius: 30px;
}

.three :hover{
    color:  rgb(221, 145, 198);
    background-color: rgb(247, 224, 241);
    border-radius: 30px;
}

.four :hover{
    color:  rgb(141, 221, 221);
    background-color: rgb(212, 247, 247);
    border-radius: 30px;
}

/* TRENDS SEARCHBAR */
.trends{
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height:100vh;
    width: 430px;
    padding-right: 50px;
    padding-top: 5px;
    position: relative;
}

.searchbar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    padding-right: 50px;
    padding-bottom: 10px;   
}
.scrollablefix {
    align-items: stretch;
    justify-content: center;
    padding-left: 20px;
    margin-bottom: 10px;
   
}
.search{
    display: flex;
    border-radius: 30px;
    border: 1px solid #eff3f4;
    background-color: #eff3f4;
    width: 300px;
    
}


.search >button {
    padding: 5px;
    background-color: #eff3f4;
    border-radius: 30px;
    border: none;
}
.search >input {
    background-color:  #eff3f4;
    font-size: 15px;
    font-weight: 400;
    padding: 12px;
    padding-right: 50px;
   
    
}
.s-icon >i {
    color:rgb(83 100 113);
}

.location {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}
p {
    font-size: 13px;
    font-weight: 400;
    color: rgb(83 100 113);
}
.trendy >i {
    font-size: 20px;
    font-weight: 400;
    color: rgb(83 100 113);
}
h2 {
    font-size: 20px;
    font-weight: 800;
    color: black;
}
h3 {
    font-size: 15px;
    font-weight: 700;
    color: black;
}
.amot {
    font-size: 13px;
    font-weight: 400;
    color:grey;
}
.greyout{
    border: 1px solid #eff3f4;
    background-color: #eff3f4;
    border-radius: 20px;
    padding-left: 10px;

}
.wordstogether :hover {
    background-color:lightgrey;
    border-radius:10px;
}
.wordstogether {
    padding-bottom: 10px;
}
.trends-for-me {
    cursor: pointer;
    padding-left: 10px;
}

.categories-footer {
    display: flex;
    font-size: 11px;
    font-weight: 500;
    cursor: pointer;
    color :rgb(83, 100, 113);
    padding-left: 30px;
   
    
}
.footer-section a {
    padding-right: 5px;
    padding: 5px;
}
    footer {  
        display:inline-block;
        position: relative;
        left: 5px;
        bottom: 5px;  
        right: 5px;    
        color:grey;  
        text-align: right; 
        padding-right: 12px;
        padding: 10px;  
         
}

/* WHO TO FOLLOW */
.follow {
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    padding-bottom: 130px;
    
    

}
.follow_suggestions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 16px;
    cursor: pointer;
    
}

.followtick {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.alltogether {
    display: flex;
}
.celeb-acc >i {
    font-size: 40px;
    font-weight: 400;
    height: 48px;
}
.celeb-name {
    font-size: 15px;
    font-weight: 600;
}
.celeb-name p {
    font-size: 13px;
    font-weight: 500;
}
.follow_button {
    border-radius: 30px;
    border: none;
    color:white;
    background-color: black;
    height: 30px;
    width: 80px;
    font-size: 13px;
    font-weight:900;
    cursor: pointer;
}
.tohover :hover {
    background-color: lightgrey;
    border-radius: 20px;
}
.followtick :hover {
    background-color: black;
}











